/* 폰트 */
@font-face {
  src:url("../fonts/Cafe24Ssurround.ttf");
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes filling {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }

/* 첫상단 글 */
.container-text {
  margin-left: 7%;
    text-align: center;
    position: relative;
background-image:  url(https://cdn.pixabay.com/photo/2018/06/13/18/20/waves-3473335_960_720.jpg);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
color:  #ffff;
padding-top: 20px;
font-size: 50px;
font-family: 'Cafe24Ssurround';
animation: filling 3s ease forwards;
}

/* 사이드바 아이콘 */
div[id="login__icon"] {
  position: relative;
  top: 26px;
  left: 18px;
  width: 160px;
  margin: 0;
}

/* 사이드 메뉴바 */
.sidebar{

  list-style-type: none;
  /* background-image:url(https://cdn.pixabay.com/photo/2016/03/17/06/49/renovation-1262389_960_720.png);
  background-position: center;
  background-size: 1000px 1000px; */
  background-color:#0093c4;
  opacity: 0.4;
  filter: alpha(opacity=40);
  width: 13%;
  top:7.9px;
  padding: 0;
  margin:-7px;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: 'Cafe24Ssurround';
  font-size: 25px;
}

a{text-decoration: none;}


/* 메뉴 */
li a{
  text-decoration: none;
  display: block;
  color: #ffff;
  padding: 23px 19px 18px 20px;
  font-weight: bold;
}

ul[for="sidebar_text"] {
  position: relative;
  top: 46px;
  padding-left: 0rem;
  height: 40rem;

}

/* 회원정보수정 전체박스 */
.container{
    position: relative;
    top:3rem;
    left: 29rem;
    width: 80rem;
    height: 25rem;
    padding-top:30px;
    
 
 }
 /* 이름,비밀번호 전체박스 */
 .container1{
     position: relative;
     left: -2rem;
 }

 /* 회원정보수정 */
h3{
    font-size: 3rem;
    margin-left: 30rem;
    font-family: 'Cafe24Ssurround';
    color:#a3d3e7;
    text-shadow: 1px 1px 3px #0093c4;


}
/* 아이디박스 */
div[id="aa"]{
    font-size:25px;
    position: relative;
   
    margin-left: 20rem;
   
    color:#a3d3e7;
}
/* 아이디 */
label[for="id"]{
    position: relative;
    margin-left: 10px;
    color:#a3d3e7;
    font-family: 'Cafe24Ssurround'; 
    text-shadow: 1px 1px 3px #0093c4;
}
input[id="a"]{
    position: relative;
    
    margin-left: 4rem;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    color:#a3d3e7;
}
/* 비밀번호박스 */
div[id="bb"]{
    font-size:25px;
    position: relative;
   
    margin-left: 20rem;
    color:#a3d3e7;
    bottom: -2rem;

}
/* 비밀번호 */
input[id="b"]{
    position: relative;
   
    margin-left: 2.4rem;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    color:#a3d3e7;
}
label[for="pw"]{
  font-family: 'Cafe24Ssurround';
  text-shadow: 1px 1px 3px #0093c4;
}

.buttonContainer{
    position: relative;
    cursor: pointer;
    top: 5rem;
    left: 32rem;
    width: 24rem;
    
}
button[id="delButton"]{
    color: #a3d3e7 ;
    font-size: 26px;
    margin-left: 6px;
    font-family: 'Cafe24Ssurround';
    text-shadow: 1px 1px 3px #0093c4;
    width: 260px;
    border-radius: 10px;
    cursor: pointer;
}
