/* 폰트 */
@font-face {
  src:url("../fonts/Cafe24Ssurround.ttf");
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}

.container{
  position: relative;
  top:1rem;
  left: 16rem;
  width: 102rem;
  padding-top:30px;
  height: 30rem;
}
/* 첫상단 글 */
.container-text {
  margin-left: 13.5%;
  text-align: center;
  position: relative;
background-image:  url(https://cdn.pixabay.com/photo/2014/04/14/20/11/pink-324175_960_720.jpg);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
color:  #ffff;
padding-top: 20px;
font-size: 50px;
font-family: 'monospace';
font-family: 'Cafe24Ssurround';
animation: filling 3s ease forwards;
}

/* 사이드바 아이콘 */
div[id="login__icon"] {
  position: relative;
  top: 26px;
  left: -8px;
  width: 160px;
  margin-left:56px;
  
}

/* 사이드 메뉴바 */
.sidebar{

list-style-type: none;
/* background-image:url(https://cdn.pixabay.com/photo/2016/03/17/06/49/renovation-1262389_960_720.png);
background-position: center;
background-size: 1000px 1000px; */
background-color:#cb9ca1;
opacity: 0.4;
filter: alpha(opacity=40);
width: 13%;
top:7.9px;
padding: 0;
margin:-7px;
position: fixed;
height: 100%;
overflow: auto;
font-family: 'Cafe24Ssurround';
font-size: 25px;

}

ul[for="sidebar_text"]{
  padding-left: 20px;
  padding-top: 10px;
}

a{text-decoration: none;}



/* 제목 */
.subject {
  position: relative;
  top: -28px;
  left: 100px;
  height: 53px;
  color: #f8bbd0;
  text-shadow: 1px 1px 3px #ba2d65;
  font-family: 'Cafe24Ssurround';
  font-size: 3rem;
  width: 200px;
}

#btn_group button:hover{ 
  color:white; background-color: #cb9ca1; }
   */
  
  
  
  /* -------------------------------------------------------------------------------------------------section2--------------------------------------- */
  
  html {scroll-behavior: smooth; /* 부드럽게 */}

  
  #section2 { margin-left: 20rem;}

  

  h3 {
    position: relative;
    top: 24px;
    left: 42px;
    height: 58px;
    color: #f8bbd0;
    text-shadow: 1px 1px 3px #ba2d65;
    font-family: 'Cafe24Ssurround';
    font-size: 3rem;
    width: 285px;
  }
  .container2{
    height: 39rem;
  }

  label[class="category2"]{
    font-size: 1.5rem;
    margin-left: 5rem;
    font-family: 'Cafe24Ssurround';
  }
  select{
    width: 10rem;
    height: 2.0rem;
    position: relative;
    top:-0.2rem;
    font-family: 'Cafe24Ssurround';

  }

  label[for="subject2"]{
    font-size: 1.5rem;
    margin-left: 7rem;
    top:-31rem;
    
  }

  /* 제목 */
  label[for="subject2"]{
    font-size: 1.5rem;
    margin-left: 7rem;
    top:-31rem;
    font-family: 'Cafe24Ssurround';
  }  
  input[for="subject2"]{
    width: 18rem;
    height: 1.3rem;
    position: relative;
    top:-0.2rem;
    left:1rem;
    
  }

  .container5{
    height: 33rem;
  }

 /* 내용 */
 label[for="content3"]{
  font-size: 1.5rem;
  margin-left: 6rem;
  position: relative;
  font-family: 'Cafe24Ssurround';
  top:-26rem;
}
textarea[for="content3"]{
  width: 63rem;
  height: 29rem;
  position: relative;
  top: 2rem;
  left: 3rem;
} 


  div[id="btn2_group"]{
    height: 100px;
  }

  #btn2_group button{ 
    border: 1px solid #ba2d65; 
    background-color: rgba(0,0,0,0); 
    color: #cb9ca1; padding: 10px 100px;  
    border-radius: 10px;
    margin-left: 55rem;
    margin-bottom: -6rem;
    margin-top: -3rem;
    font-family: 'Cafe24Ssurround';
    font-size: 25px; 
    width: 19rem;
  } 
  
  #btn2_group button:hover{ 
    color:white; background-color: #cb9ca1; }

