@charset "UTF-8";

@font-face {
src:url("../fonts/Cafe24Ssurround.ttf");
font-family: 'Cafe24Ssurround';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
font-weight: normal;
font-style: normal;
}
body {
    font-family: 'Cafe24Ssurround', sans-serif !important;
}


.text1{
position : relative;
 top: -40px;
 left:1520px;
}

form{
	text-align : center;
}

p{
	font-family: 'Cafe24Ssurround';
	display : inline-block;
	font-size: x-large;
}

select{
	display:inline-block;
	height : 40px;
	width : 150px;
}

.searchBtn{
	height:35px;
	width:60px;
    border-radius: 20px;   
    display : inline-block;
    transition: all 0.1s;
    cursor: pointer;    
    background-color: tomato;
    border: none;
}
.searchBtn:focus{ 	
    border: none;
    outline:none;
    }
.BtnP{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color:#fff;
}
.searchBtn:active{
    transform : translateY(3px);
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    background-color: white;
  }

  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 8px 0;
    top: 4px;
    right: 4px;
    user-select: none;
    width: auto;
    margin: 0;
 
  }

  .burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 2px;
    margin:10px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
  }

  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .burger-icon .burger-sticks:before {
    top: 10px;
  }

  .burger-icon .burger-sticks:after {
    top: -10px;
  }

  .burger-check {
    display: none;
  }

  .burger-check:checked~.menu {
    max-width: 100%;
  }

  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }

  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }

  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }

  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }

  .villageMenu {
    display: none;
    background-color:#eee;
  }